@charset "UTF-8";
/* CSS Document */


.container .row div:nth-child(1) {
  background: lightgray;
}

.container .row div:nth-child(2) {
  background: lightblue;
}

.container .row div:nth-child(3) {
  background: lightgreen;
}
